name: activity_ring
description: "Flutter Library to create Progress bars in Apple Watch style rings."
version: 0.3.0
homepage: https://github.com/akashgurava/activity_ring
repository: https://github.com/akashgurava/activity_ring

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
